<p id="notice"><%= notice %></p>
<center><h1>コラボレイティブ開発特論</h1></center>
<center><h3>delbuger</h3></center><div class="twcontainer">
<div class="leftc">
<h3>User:<%=current_user.name %></h3>
<h2>Listing Tweets</h2>
<%= link_to 'New Tweet', new_tweet_path %>
<table class="tw-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.name %></td>
        <td><%= tweet.tweet %></td>
        <td><%= link_to 'Show', tweet %></td>
	<% if current_user.name == tweet.name %>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<div class="rightc">
<div class="tw-chart"><%= line_chart @chart_data %></div>
<div class="tw-chart"><%= pie_chart @column_data %></div>
</div>
</div>
